@use "../abstracts/variables" as *;

* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;
  background: $color-bg; color: $color-text;
  font: 400 16px/1.6 "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
img { max-width: 100%; display: block; }
a { color: inherit; text-decoration: none; }
